; jzIntv Default NTSC Color Palette (DEFAULT_NTSC)
; ================================================
; Overview
; --------
; The default STIC palette on NTSC machines when running jzIntv with no palette
; command line parameters. This is a compromise NTSC palette derived with the
; assistance of screen capturing with a capture card, and eyeballing the
; screen. It's somewhat better in practice so far, as NTSC has some
; out-of-gamut colors that are difficult to reproduce faithfully on computer
; displays.
;
; JzIntv Command Lines
; --------------------
; "jzIntv.exe --gfx-palette=default_ntsc"
; "jzIntv.exe" by itself (with no "--gfx-palette=default_ntsc" command line)
; "jzIntv.exe --gfx-palette=jzIntv_Default_NTSC_Color_Palette.cfg"
;
; Intellivision 16 Color Palette Notes
; ------------------------------------
; The following are notes about the 16 color palette on the Intellivision (by
; Stephen Roney, co-programmer of "Space Spartans" and "B-17 Bomber", and head
; of software development for Intellivision Productions):
;
; The Intellivision can generate 16 colors - 8 "primaries" (black, blue, red,
; tan, dark green, green, yellow, and white) and 8 "pastels" (gray, cyan,
; orange, brown, magenta, light blue, yellow-green, and purple). There are
; limitations on when the pastels can be used. For example, lower case letters
; can't be displayed in pastel colors without some programming trickery.
;
; Despite their classification, most of the "pastels" aren't really pastel.
;
; In November 1980, Astrosmash programmer John Sohl (nicknamed "Dr. Sohl",
; because his methodical notes on his early work with Intellivision became
; valuable documentation for later programmers) described the 16 colors in a
; rather eccentric (almost poetic) manner:
;
; BLACK: True.
; BLUE: Not quite dark blue PC board, closer to '65 Cadillac than '66 Falcon, lapis lazuli (a deep blue metamorphic rock).
; RED: Red shirt red, much lighter than a rose, slightly purple?
; TAN: Sandy, almost light brown.
; DARK GREEN: Very dark - climbing-ivy dark, or rubber-tree dark.
; GREEN: Same shade but lighter, perhaps grass green, touch of yellow.
; YELLOW: Dark yellow - "Afrika Korps" yellow, definitely not marigold. Not quite amber.
; WHITE: True.
; GRAY: With a tinge of purple.
; CYAN: Sick green-blue, institutional washroom green-blue.
; ORANGE: Pale, closer to light red than to true Halloween orange.
; BROWN: Very dark, the color of wet topsoil.
; MAGENTA: Very bright, garish pink with a tinge of purple.
; LIGHT BLUE: The color of the California sky looking up at 45 degrees. Perhaps a pastel color.
; YELLOW-GREEN: The same shade (of green) again, but somewhat more faded. The grass of August? A true pastel green.
; PURPLE: Dark violet Easter-egg dye purple.
;
; Because the Intellivision output is analog (subject to noise and component
; variations), and because televisions (particularly early 1980s televisions)
; vary in their color and tint adjustments, players see slightly different
; colors from console to console and TV set to TV set. For instance, brown
; appears greenish on many sets.
;
; In developing the emulation software for our Intellipacks and CD-ROM
; collections, the programmers were given leeway to recreate the colors as they
; see them on their own TVs with a real Intellivision. The result is that the
; emulators for DOS, Mac, Windows and PlayStation all have slightly different
; palettes.
;
; Which is correct? The only "correct" colors are the ones that make you feel
; as if you are playing your Intellivision on your living room TV set at home
; in 1982. We hope we've achieved that.
;
; By the way, if you're wondering what "Afrika Korps" yellow is: John Sohl
; says, "It helps if you watched 'The Rat Patrol (in color)' when you were 13
; years old."
;
; jzIntv Palette Configuration
; ----------------------------
; Note that the palette color descriptions below are as listed in the Mattel
; Electronics Intellivision Model 2609 Console Service Manual.
;
; Primary Palette Color Set:
;
#000000 ; Black
#1438F7 ; Blue
#E35B0E ; Red
#CBF168 ; Tan
#009428 ; Dark Green
#07C200 ; Light Green
#FFFF01 ; Yellow
#FFFFFF ; White
;
; Pastel Palette Color Set:
;
#C8C8C8 ; Gray
#23CEC3 ; Cyan
#FD9918 ; Orange
#3A8A00 ; Brown
#F0463C ; Magenta
#D383FF ; Light Blue
#48F601 ; Yellow-Green
#B81178 ; Purple
